ERP/workers/n8n-workflows/meeting-scheduler.json
{
  "name": "Meeting Scheduler Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-scheduler",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "meeting-scheduler"
    },
    {
      "parameters": {
        "functionCode": "const lead = items[0].json.lead;\nconst preferredTimes = items[0].json.preferredTimes || [];\n\nreturn [{\n  json: {\n    leadId: lead.id,\n    leadEmail: lead.email,\n    leadName: lead.full_name,\n    company: lead.company,\n    preferredTimes: preferredTimes\n  }\n}];"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/calendar/availability",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeRanges\": {{JSON.stringify($json.preferredTimes)}}\n}"
      },
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const availability = items[0].json.availability || [];\nconst leadEmail = items[0].json.leadEmail;\nconst leadName = items[0].json.leadName;\nconst company = items[0].json.company;\n\nif (availability.length === 0) {\n  throw new Error('No available time slots found');\n}\n\nconst firstAvailable = availability[0];\n\nreturn [{\n  json: {\n    leadEmail: leadEmail,\n    leadName: leadName,\n    company: company,\n    meetingTime: firstAvailable.start,\n    meetingEndTime: firstAvailable.end,\n    meetingLink: null\n  }\n}];"
      },
      "name": "Select Time Slot",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/calendar/create-event",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"Meeting with {{$json.company}}\",\n  \"description\": \"Discovery call with {{$json.leadName}}\",\n  \"startTime\": \"{{$json.meetingTime}}\",\n  \"endTime\": \"{{$json.meetingEndTime}}\",\n  \"attendees\": [\"{{$json.leadEmail}}\"]\n}"
      },
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "to": "={{$json.leadEmail}}",
        "subject": "Meeting Scheduled: {{$json.company}}",
        "emailType": "html",
        "message": "<p>Hi {{$json.leadName}},</p>\n<p>Great news! Your meeting has been scheduled.</p>\n<p><strong>Date & Time:</strong> {{$json.meetingTime}}</p>\n<p><strong>Meeting Link:</strong> <a href=\"{{$json.meetingLink}}\">Join Meeting</a></p>\n<p>Looking forward to speaking with you!</p>\n<p>Best regards,<br>Sales Team</p>"
      },
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/leads/{{$json.leadId}}/update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "meeting_scheduled"
            },
            {
              "name": "last_contact_at",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Select Time Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Time Slot": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
